* {
    box-sizing: border-box;
}

body { 
    background-color: #f9fbfc;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin: 0; 
}

.container {
    width: 1770px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form {
    width: 700px;
    display: grid;
    grid-gap: 20px;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 0px rgb(228, 228, 228);
    background-color: #fff;
}

.input {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #d9d8dd;
    border-radius: 10px;
    font-family: inherit;
}

.input:focus {
    outline: none;
    border: 2px solid #4073d3;
}

.label-text {
    padding-left: 10px;
    margin-bottom: 2px;
}

.button {
    padding: 8px 20px 10px;
    border-radius: 10px;
    border: 1px solid #2463ea;
    background-color: #2463ea;
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-size: 26px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    border: 1px solid black;
    padding: 10px 20px;
}

.table td {
    border: 1px solid black;
    padding: 10px 20px;
}

.table-heading {
    margin-bottom: 10px;
}

.error {
    border: 2px solid red;
}

.error-field {
    white-space: pre-line; 
}