* {
    box-sizing: border-box;
}

body { 
    background-color: #f9fbfc;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin: 0; 
}

.container {
    width: 1770px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form {
    width: 700px;
    display: grid;
    grid-gap: 20px;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 0px rgb(228, 228, 228);
    background-color: #fff;
}

.form--add label {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #d9d8dd;
    border-radius: 10px;
    font-family: inherit;
}

.form--add .input {
    width: 50%;
}

.error-text {
    position: absolute;
    display: none;
    left: 55%;
    top: 20px;
}

.error-text--active {
    display: block;
}

.input:focus {
    outline: none;
    border: 2px solid #4073d3;
}

.label-text {
    padding-left: 10px;
    margin-bottom: 2px;
}

.button {
    padding: 8px 20px 10px;
    border-radius: 10px;
    border: 1px solid #2463ea;
    background-color: #2463ea;
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-size: 26px;
}

.table {
    display: grid;
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 0px rgb(228, 228, 228);
    background-color: #fff;
}

.table thead {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 2px solid #f6f6f6;
}

.table tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table tr:nth-child(2n) {
    background-color: #f9fbfc;
}

.table th {
    border: none;
    padding: 20px 20px 20px 45px;
    text-align: left;
    cursor: pointer;
    background-image: url('./img/sort.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.table td {
    border: none;
    padding: 10px 20px;
}

.table-heading {
    padding-left: 20px;
    margin-bottom: 30px;
}

.error {
    border: 2px solid red;
}